.check{
    border: 1px solid red;
}

body{
    margin-top: 75px;
}

.logo{
    font-family: Jura;
    color: #1B6DC1 !important;
    text-transform: uppercase;
    font-weight: bold;
}

button:focus{
    outline: none !important;
    box-shadow: none !important;
}


.non-reactive:focus{
    background-color: #0d6efd !important;
}

.non-reactive:hover{
    background-color: #0a58ca !important;
}

.non-reactive:active{
    background-color: #0d6efd !important;
}
